﻿@namespace MatBlazor
@inherits BaseMatSlider


<div @ref="Ref" @ref:suppressField class="@ClassMapper.Class" style="@Style" tabindex="0" role="slider"
     aria-valuemin="@ValueMin" aria-valuemax="@ValueMax" aria-valuenow="@Value"
     aria-label="@Label" aria-disabled="@Disabled"
     @attributes="Attributes" Id="@Id"
     >
    <div class="mdc-slider__track-container">
        <div class="mdc-slider__track"></div>
    </div>

    <div class="mdc-slider__thumb-container">
        @if (Discrete)
        {
            <div class="mdc-slider__pin">
                <span class="mdc-slider__pin-value-marker"></span>
            </div>
        }
        <svg class="mdc-slider__thumb" width="21" height="21">
            <circle cx="10.5" cy="10.5" r="7.875"></circle>
        </svg>
        <div class="mdc-slider__focus-ring"></div>
    </div>
</div>


@code
{

    // data-step="@DataStepValue"
    private string DataStepValue
    {
        get { return Step.ToString(); }
    }

}