﻿@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatTooltip

@if (!Wrap)
{
    if (ChildContent != null)
    {
        @ChildContent(TargetForwardRef)
    }
}
else
{
    <div class="mat-tooltip-wrapper" @ref="TargetForwardRef.Current" @ref:suppressField>
        @if (ChildContent != null)
        {
            @ChildContent(TargetForwardRef)
        }
    </div>
}

<div class="@ClassMapper.Class" @ref="Ref" @ref:suppressField style="@Style" @attributes="Attributes" Id="@Id">
    @if (TooltipContent != null)
    {
        @TooltipContent
    }
    else
    {
        @Tooltip
    }
</div>

@code
{
}