@using Microsoft.AspNetCore.Components
<DocMatNumericUpDownField></DocMatNumericUpDownField>


<h5 class="mat-h5">Example</h5>
<DemoContainer>
    <Content>

        <p>
            <MatNumericUpDownField
                Label="Two decimal places"
                @bind-Value=@testingNullableDecimal1
                Step="0.01m"
                DecimalPlaces=2>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label="No decimal places"
                @bind-Value=@testingNullableDecimal2
                DecimalPlaces=0
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField Label="Disabled"
                                   @bind-Value=@testingNullableDecimal2
                                   DecimalPlaces=0
                                   Disabled=true
                                   Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label="With icon"
                @bind-Value=@testingNullableDecimal3
                DecimalPlaces=0
                Icon="favorite"
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label="Outlined"
                @bind-Value=@testingNullableDecimal4
                DecimalPlaces=0
                Outlined="true"
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label="Full width"
                @bind-Value=@testingNullableDecimal4
                DecimalPlaces=0
                Outlined="true"
                FullWidth="true"
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>


        @code
        {
            decimal? testingNullableDecimal1 = 0m;
            decimal? testingNullableDecimal2 = null;
            decimal? testingNullableDecimal3 = null;
            decimal? testingNullableDecimal4 = null;

            string ButtonState = "";

            void Click(UIMouseEventArgs e)
            {
                ButtonState = "Clicked";
                testingNullableDecimal1 += 1;
                testingNullableDecimal2 += 100;
            }

        }


    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"

        <p>
            <MatNumericUpDownField
                Label=""Two decimal places""
                @bind-Value=@testingNullableDecimal1
                Step=""0.01m""
                DecimalPlaces=2>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label=""No decimal places""
                @bind-Value=@testingNullableDecimal2
                DecimalPlaces=0
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField Label=""Disabled""
                                   @bind-Value=@testingNullableDecimal2
                                   DecimalPlaces=0
                                   Disabled=true
                                   Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label=""With icon""
                @bind-Value=@testingNullableDecimal3
                DecimalPlaces=0
                Icon=""favorite""
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label=""Outlined""
                @bind-Value=@testingNullableDecimal4
                DecimalPlaces=0
                Outlined=""true""
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>

        <p>
            <MatNumericUpDownField
                Label=""Full width""
                @bind-Value=@testingNullableDecimal4
                DecimalPlaces=0
                Outlined=""true""
                FullWidth=""true""
                Minimum=null Maximum=null>
            </MatNumericUpDownField>
        </p>


        @code
        {
            decimal? testingNullableDecimal1 = 0m;
            decimal? testingNullableDecimal2 = null;
            decimal? testingNullableDecimal3 = null;
            decimal? testingNullableDecimal4 = null;

            string ButtonState = """";

            void Click(UIMouseEventArgs e)
            {
                ButtonState = ""Clicked"";
                testingNullableDecimal1 += 1;
                testingNullableDecimal2 += 100;
            }

        }


    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>