<DocMatMenu></DocMatMenu>

<h5 class="mat-h5">RefBack Example</h5>

<DemoContainer>
    <Content>
        @using Microsoft.AspNetCore.Components

        <p>
            <MatButton Label="Menu" OnClick="@OnClick" RefBack="@buttonForwardRef"></MatButton>
            <MatMenu @ref="Menu" @ref:suppressField TargetForwardRef="@buttonForwardRef">
                <MatList>
                    <MatListItem>Item 1</MatListItem>
                    <MatListItem>Item 2</MatListItem>
                    <MatListItem>Item 3</MatListItem>
                    <MatListItem>Item 4</MatListItem>
                    <MatListItem>Item 5</MatListItem>
                </MatList>
            </MatMenu>
        </p>

        @code
        {
            ForwardRef buttonForwardRef = new ForwardRef();
            BaseMatMenu Menu;

            public void OnClick(UIMouseEventArgs e)
            {
                this.Menu.OpenAsync();
            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        @using Microsoft.AspNetCore.Components

        <p>
            <MatButton Label=""Menu"" OnClick=""@OnClick"" RefBack=""@buttonForwardRef""></MatButton>
            <MatMenu @ref=""Menu"" @ref:suppressField TargetForwardRef=""@buttonForwardRef"">
                <MatList>
                    <MatListItem>Item 1</MatListItem>
                    <MatListItem>Item 2</MatListItem>
                    <MatListItem>Item 3</MatListItem>
                    <MatListItem>Item 4</MatListItem>
                    <MatListItem>Item 5</MatListItem>
                </MatList>
            </MatMenu>
        </p>

        @code
        {
            ForwardRef buttonForwardRef = new ForwardRef();
            BaseMatMenu Menu;

            public void OnClick(UIMouseEventArgs e)
            {
                this.Menu.OpenAsync();
            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        @using Microsoft.AspNetCore.Components

        <p>
            <MatButton Label="Menu" OnClick="@OnClick2" @ref="Button2" @ref:suppressField></MatButton>
            <MatMenu @ref="Menu2" @ref:suppressField>
                <MatList>
                    <MatListItem>Item 1</MatListItem>
                    <MatListItem>Item 2</MatListItem>
                    <MatListItem>Item 3</MatListItem>
                    <MatListItem>Item 4</MatListItem>
                    <MatListItem>Item 5</MatListItem>
                </MatList>
            </MatMenu>
        </p>

        @code
        {
            BaseMatButton Button2;
            BaseMatMenu Menu2;

            public void OnClick2(UIMouseEventArgs e)
            {
                this.Menu2.OpenAsync(Button2.Ref);
            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        @using Microsoft.AspNetCore.Components

        <p>
            <MatButton Label=""Menu"" OnClick=""@OnClick2"" @ref=""Button2"" @ref:suppressField></MatButton>
            <MatMenu @ref=""Menu2"" @ref:suppressField>
                <MatList>
                    <MatListItem>Item 1</MatListItem>
                    <MatListItem>Item 2</MatListItem>
                    <MatListItem>Item 3</MatListItem>
                    <MatListItem>Item 4</MatListItem>
                    <MatListItem>Item 5</MatListItem>
                </MatList>
            </MatMenu>
        </p>

        @code
        {
            BaseMatButton Button2;
            BaseMatMenu Menu2;

            public void OnClick2(UIMouseEventArgs e)
            {
                this.Menu2.OpenAsync(Button2.Ref);
            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>