﻿@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent
@* mdc-top-app-bar__navigation-icon *@
<a class="@ClassMapper.Class material-icons mdc-top-app-bar__navigation-icon" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id" @onclick="OnClickHandler">menu</a>

@code
{

    [Parameter]
    public EventCallback<UIMouseEventArgs> OnClick { get; set; }


    

    void OnClickHandler(UIMouseEventArgs e)
    {
        OnClick.InvokeAsync(e);
    }

}