﻿@namespace MatBlazor
@inherits BaseMatDomComponent
@using Microsoft.AspNetCore.Components

@* mdc-top-app-bar__action-item *@
<a aria-label="@Label" alt="@Label" @onclick="OnClickHandler" class="@ClassMapper.Class material-icons mdc-top-app-bar__action-item" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id">
    @Icon
</a>


@code
{
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<UIMouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Label { get; set; }

    private void OnClickHandler(UIMouseEventArgs e)
    {
        OnClick.InvokeAsync(e);
    }

}