﻿<MatToastContainer />

<MatThemeProvider Theme="@theme">
    <Router AppAssembly=typeof(MatBlazor.Demo.Pages.Index).Assembly />
</MatThemeProvider>


@code
{

    MatTheme theme = new MatTheme()
    {
    };

}