﻿@*
    The Router component displays whichever component has a @page
    directive matching the current URI.
*@


<MatToastContainer/>

<MatThemeProvider Theme="@theme">
    <Router AppAssembly=typeof(MatBlazor.Demo.Pages.Index).Assembly/>
</MatThemeProvider>


@code
{

    MatTheme theme = new MatTheme()
    {
    };

    private string _test1;

    [Parameter]
    public string Test1
    {
        get => _test1;
        set
        {
            _test1 = value;
        }
    }

}